<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>zh-Hans</string>
  <key>CFBundleLocalizations</key>
  <array>
    <string>zh-Hans</string>
    <string>en</string>
  </array>
  <key>CFBundleDisplayName</key>
  <string>VCLogg2</string>
  <key>CFBundleExecutable</key>
  <string>vclogg2</string>
  <key>CFBundleIconFile</key>
  <string>VCLogg2</string>
  <key>CFBundleIdentifier</key>
  <string>com.vclogg2.desktop</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>VCLogg2</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>log</string>
        <string>txt</string>
        <string>out</string>
        <string>trace</string>
        <string>csv</string>
        <string>json</string>
      </array>
      <key>CFBundleTypeName</key>
      <string>Log or text document</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
    </dict>
  </array>
  <key>CFBundleShortVersionString</key>
  <string>0.0.0</string>
  <key>CFBundleVersion</key>
  <string>0.0.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
